benchmark/benchmark.wsdl

<?xml version="1.0"?>
<wsdl:definitions 
    xmlns:tns="http://benchmark.python-zeep.org/" 
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    targetNamespace="http://benchmark.python-zeep.org/">
  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
                xmlns:tns="http://benchmark.python-zeep.org/"
                targetNamespace="http://benchmark.python-zeep.org/">
      <xsd:complexType name="ItemList">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:Item" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Item">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="id" type="xsd:int" />
          <xsd:element minOccurs="1" maxOccurs="1" name="name" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="active" type="xsd:boolean" />
          <xsd:element minOccurs="1" maxOccurs="1" name="price" type="xsd:decimal" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="items" type="tns:ItemList"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="GetItemListRequest">
    <wsdl:part name="body" element="tns:items"/>
  </wsdl:message>
  <wsdl:message name="GetItemListResponse">
    <wsdl:part name="body" element="tns:items"/>
  </wsdl:message>
  <wsdl:portType name="BenchmarkPortType">
    <wsdl:operation name="GetItemList">
      <wsdl:input message="tns:GetItemListRequest"/>
      <wsdl:output message="tns:GetItemListResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BenchmarkBinding" type="tns:BenchmarkPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetItemList">
      <soap:operation soapAction="http://benchmark.python-zeep.org/GetItemList"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BenchmarkService">
    <wsdl:port name="BenchmarkPort" binding="tns:BenchmarkBinding">
      <soap:address location="http://localhost/zeep-benchmark"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
