tests/wsdl_files/mtom_attachment.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:ns0="http://test.ellethee.org/"
    xmlns:xop="http://www.w3.org/2004/08/xop/include"
    targetNamespace="http://test.ellethee.org/">
    <xsd:complexType name="upload">
        <xsd:sequence>
            <xsd:element name="fileName" type="xsd:string" />
            <xsd:element name="fileBytes" type="xsd:base64Binary" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="uploadResponse" >
        <xsd:sequence>
            <xsd:element name="message" type="xsd:string" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="upload" type="ns0:upload" />
    <xsd:complexType name="arrayOfUpload">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="ns0:upload"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="arrayOfUpload" nillable="true" type="ns0:arrayOfUpload"/>
    <xsd:element name="uploadResponse" type="ns0:uploadResponse" />
</xsd:schema>
